* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: palevioletred;

}

.fundo{

    background-color: rgb(0, 128, 119);
    width: 660px;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;

}

.flex{
    display: flex;
}

.ciano{
    background-color: aqua;
    padding: 80px;
    margin: 10px;
}

.tamanho{
    padding-right: 279px;
    
}

.esticar {
    padding-bottom: 400px;

}

.alongar {
    padding-right: 350px;
}

.esticar3{
    padding-bottom: 200px;
}

.tamanho5{
    width: 190%;
}
.esticar5{
    padding-bottom: 200px;
}

.esticar6{
    padding-bottom: 300px;
}

.tamanho7{
    width: 200px;
}

.esticar_15{
    padding-bottom: 290px;
}

.esticar15{
    padding-top: 123%;
}